<style>
  ion-item.ion-invalid.ion-touched {
    color: red;
  }

  ion-item.ion-invalid.ion-touched ion-input {
    border-bottom: 1px solid red;
  }

  ion-item ion-input {
    border-bottom: 1px solid grey;
  }
</style>

<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>{{ this.isLogging ? 'Login' : 'Sign Up'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="this.onSubmit(form)" #form="ngForm">
    <ion-grid *ngIf="!this.isLoading" class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input
                ngModel
                name="email"
                type="email"
                required
                email
                autocomplete
                autocorrect
              ></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input
                ngModel
                name="password"
                type="password"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            color="mycolor"
            (click)="this.isLogging = !this.isLogging"
            >Switch to {{ this.isLogging ? 'Sign Up' : 'Login'}}</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- <ion-spinner
          *ngIf="this.isLoading"
          color="primary"
          name="lines"
        ></ion-spinner> -->
          <ion-button type="submit" color="mycolor" [disabled]="!form.valid"
            >{{ this.isLogging ? 'Login' : 'Sign Up'}}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
