<style>
  ion-item ion-input,
  ion-item ion-textarea,
  ion-item ion-select,
  ion-item ion-datetime {
    border-bottom: 1px solid gray;
  }
  ion-item.ion-touched.ion-invalid ion-label {
    color: var(--ion-color-warning, red);
  }

  ion-item.ion-touched.ion-invalid ion-input,
  ion-item.ion-touched.ion-invalid ion-textarea,
  ion-item.ion-touched.ion-invalid ion-datetime {
    border-bottom: 1px solid var(--ion-color-warning, red);
    color: var(--ion-color-warning, red);
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ this.place.title }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="this.onModalClose('closed')">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    *ngIf="this.formGroup"
    [formGroup]="this.formGroup"
    (ngSubmit)="
      this.formGroup.valid && this.formGroup.touched && this.onSubmit()
    "
  >
    <ion-grid class="ion-text-center">
      <!-- <ion-row class="ion-margin">
      <ion-col
        ><ion-label>
          <p>{{ this.place.description }}</p>
        </ion-label></ion-col
      >
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col>
        <ion-button (click)="this.onModalClose('booked')">Book!</ion-button>
      </ion-col>
    </ion-row> -->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">First Name</ion-label>
            <ion-input
              formControlName="firstName"
              type="text"
              (ionBlur)="
                this.formGroup.get('firstName').value
                  ? this.formGroup
                      .get('firstName')
                      .setValue(
                        this.formGroup
                          .get('firstName')
                          .value.charAt(0)
                          .toUpperCase() +
                          this.formGroup.get('firstName').value.slice(1)
                      )
                  : undefined
              "
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Last Name</ion-label>
            <ion-input
              formControlName="lastName"
              type="text"
              (ionBlur)="
                this.formGroup.get('lastName').value
                  ? this.formGroup
                      .get('lastName')
                      .setValue(
                        this.formGroup
                          .get('lastName')
                          .value.charAt(0)
                          .toUpperCase() +
                          this.formGroup.get('lastName').value.slice(1)
                      )
                  : undefined
              "
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Guest Number</ion-label>
            <ion-select formControlName="guestNumber">
              <ion-select-option [value]="1">1</ion-select-option>
              <ion-select-option [value]="2">2</ion-select-option>
              <ion-select-option [value]="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">From</ion-label>
            <ion-datetime
              formControlName="dateFrom"
              [min]="this.place.dateFrom.toISOString()"
              [max]="
                this.onReduceMsInDate(
                  this.place.dateTo,
                  24 * 60 * 60 * 1000
                ).toISOString()
              "
              [displayFormat]="'YYYY MM DD'"
              [pickerFormat]="'YYYY MM DD'"
              (ionBlur)="this.onDateFromBlur()"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.formGroup.get('dateTo')">
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">To</ion-label>
            <ion-datetime
              formControlName="dateTo"
              [displayFormat]="'YYYY MM DD'"
              [pickerFormat]="'YYYY MM DD'"
              [min]="
                this.onAddMsInDate(
                  this.formGroup.get('dateFrom').value,
                  24 * 60 * 60 * 1000
                ).toISOString()
              "
              [max]="this.place.dateTo.toISOString()"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            expand="block"
            [disabled]="!this.formGroup.valid"
            >Book</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
