<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerDirection="backward">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button [routerLink]="['/places/tabs/offers/edit', this.place.id]"
    >Edit</ion-button
  >
</ion-content>
