<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['new']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.isLoading">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-list *ngFor="let place of this.places">
          <app-offer-item [place]="place"></app-offer-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
