<style>
  ion-header {
    /* border: 1px solid black; */
  }

  ion-toolbar {
    /* border: 1px solid red; */
  }

  /* ion-toolbar * {
    border: 1px solid black;
  } */

  ion-button.grey-color::part(native) {
    color: #a1a8b1;
  }

  ion-fab-button {
    height: 30px;
    width: 30px;
  }

  .div-round-circle {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 4px 3px 8px 0.5px rgb(166, 167, 170);
  }

  ion-item::part(native) {
    height: 60px;
  }

  div {
    /* border: 1px solid red; */
  }
</style>

<ion-header>
  <ion-toolbar
    appBoxShadow
    [boxShadow]="'0px 1px 3px 1px rgb(220, 220, 220)'"
    appPadding
    [padding]="'30px 0px 0px 0px'"
  >
    <!-- <ion-title>chat</ion-title> -->
    <ion-item lines="none" appMargin [margin]="'0px 0px 0px 30px'">
      <ion-avatar slot="start">
        <ion-img
          appHeightWidth
          [height_width]="['40px', '40px']"
          appBoxShadow
          [boxShadow]="'4px 3px 8px 0.5px rgb(166, 167, 170)'"
          [src]="this.meImgSrc"
        ></ion-img>
      </ion-avatar>
      <ion-label class="ion-no-margin">
        <h6 appMargin>Selah Kuti</h6>
        <p>Active 50m ago</p>
      </ion-label>
    </ion-item>

    <ion-buttons slot="start">
      <div
        appHeightWidth
        [height_width]="['40px', '40px']"
        appMargin
        [margin]="'0px 0px 0px 30px'"
        class="div-round-circle"
      >
        <img src="../../assets/icon/back_arrow_grey.svg" alt="" />
      </div>
    </ion-buttons>

    <ion-buttons slot="end">
      <div
        matRipple
        [matRippleCentered]="true"
        appHeightWidth
        [height_width]="['40px', '40px']"
        appMargin
        [margin]="'0px 30px 0px 0px'"
        class="div-round-circle"
      >
        <img src="../../assets/icon/call-sharp_light_blue.svg" alt="" />
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="background-color: lightblue"
    appHeightWidth
    [height_width]="['1000px', '100%']"
  ></div>
</ion-content>

<ion-footer>
  <div
    appBoxShadow
    [boxShadow]="'0px -2px 8px 1px rgb(220, 220, 220)'"
    appHeightWidth
    [height_width]="['60px', '100%']"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div
      appHeightWidth
      [height_width]="['40px', '40px']"
      appMargin
      [margin]="'0px 20px 0px 20px'"
      appBoxShadow
      [boxShadow]="'4px 3px 8px 0.5px rgb(200, 200, 200)'"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img src="../../assets/icon/camera-sharp-grey.svg" alt="" />
    </div>
    <div
      fxFlex
      appHeightWidth
      [height_width]="['40px', '']"
      appMargin
      [margin]="'0px 20px 0px 0px'"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <div
        fxFlex
        appHeightWidth
        [height_width]="['100%', '100%']"
        appBoxShadow
        [boxShadow]="'inset 2px 2px 4px 0.5px rgb(200, 200, 200)'"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <ion-input
          placeholder="Type something..."
          appMargin
          [margin]="'10px 10px'"
          type="text"
        ></ion-input>
      </div>
      <div
        appHeightWidth
        [height_width]="['100%', '40px']"
        appBoxShadow
        [boxShadow]="'4px 3px 8px 0.5px rgb(200, 200, 200)'"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <img src="../../assets/icon/mic-sharp-grey.svg" alt="" />
      </div>
    </div>
  </div>
</ion-footer>
