<style>
  ion-col {
    /* border: 1px solid black; */
  }

  ion-item.ion-invalid.ion-touched {
    color: var(--ion-color-warning, red);
  }

  ion-item ion-input,
  ion-item ion-textarea,
  ion-item ion-datetime {
    border-bottom: 1px solid grey;
  }

  ion-item.ion-invalid.ion-touched ion-input,
  ion-item.ion-invalid.ion-touched ion-textarea,
  ion-item.ion-invalid.ion-touched ion-datetime {
    border-bottom: 1px solid var(--ion-color-warning, red);
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerDirection="backward">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button
        type="button"
        (click)="this.onSubmit()"
        slot="icon-only"
        [disabled]="!this.formGroup.valid"
      >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="this.formGroup">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Title</ion-label>
            <ion-input
              formControlName="title"
              type="text"
              autocomplete
              autocorrect
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea formControlName="description" rows="5"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Price</ion-label>
            <ion-input formControlName="price" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Available from</ion-label>
            <ion-datetime
              formControlName="dateFrom"
              min="2020-09-05"
              max="2025-09-05"
              (ionBlur)="this.setMinForDateTo(dateFrom, dateTo)"
              #dateFrom
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Available to</ion-label>
            <ion-datetime
              formControlName="dateTo"
              min="2020-09-06"
              max="2025-09-05"
              #dateTo
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <app-location-picker></app-location-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
