<style>
  .swipe-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: yellow; */
    /* z-index: -1; */
  }

  ion-text {
    font-family: "Roboto-Regular";
    font-style: italic;
  }

  ion-button {
    font-family: "Roboto-Regular";
    font-weight: bold;
    font-style: italic;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        routerDirection="backward"
        defaultHref="/places/tabs/discover"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Place Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  *ngIf="!this.isLoading && this.userId !== undefined"
  class="ion-no-padding"
>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        class="ion-no-padding ion-text-center"
        size="12"
        size-sm="3"
        offset-sm="6"
        ><ion-img [src]="this.place.imageUrl"></ion-img
      ></ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col class="ion-text-center" size="12" size-sm="3" offset-sm="6"
        ><ion-text>{{ this.place.description }}</ion-text></ion-col
      >
    </ion-row>
    <ion-row *ngIf="this.userId !== this.place.userId" class="ion-padding">
      <ion-col class="ion-text-center" size="12" size-sm="3" offset-sm="6"
        ><ion-button (click)="this.onBookPlace()">Book</ion-button></ion-col
      >
    </ion-row>
  </ion-grid>

  <!-- <div
    appCustomSwipe
    [customSwipeFunctions]="this.customSwipeFns"
    class="swipe-background"
  ></div> -->
</ion-content>
