<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- 
        ukoliko pravis aplikaciju i za web, pored native aplikacija za mobilne uredjaje i budes koristio ion-back-button,
        koristi property za el ion-back-button: defaultHref -> The url to navigate back to by default when there is no history.
        https://ionicframework.com/docs/api/back-button#properties

        posto koristimo <ion-router-outlet></ion-router-outlet> on zna da li imamo mogucnost da se vratimo na prethodnu stranicu,
        buduci da na web-u mozemo da refresh-ujemo stranicu postoji mogucnost da <ion-router-outlet></ion-router-outlet> izgubi tu 
        informaciju (dok to na telefonu nije moguce), buduci da su elementi medjusobno povezani i uticu jedni na druge, ion-back-button
        ce se pojaviti unutar toolbar-a ako postoji kao el unutar njega i ako <ion-router-outlet></ion-router-outlet> zna da postoji
        stranica na koju mozemo da se vratimo u suprotnom se nece pojaviti iako je naveden u html-u
       -->
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{this.recipe.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.onDeleteRecipe()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-margin">
      <ion-col>
        <ion-img [src]="this.recipe.imageUrl" style="height: 30vh;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">{{this.recipe.title}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ingredient of this.recipe.ingredients">
            <ion-label>{{ingredient}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
