<ion-item-sliding #ionItemSliding>
  <ion-item [routerLink]="[place.id]" [detail]="false">
    <ion-thumbnail slot="start">
      <ion-img [src]="place.imageUrl"> </ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ place.title }}</h2>
    </ion-label>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option
      color="danger"
      (click)="this.onDelete(place.id, ionItemSliding)"
    >
      <ion-icon name="trash-outline" slot="top"></ion-icon>
      <ion-label><p>delete</p></ion-label>
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="end">
    <ion-item-option
      color="secondary"
      (click)="this.onEdit(place.id, ionItemSliding)"
    >
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
