<style>
  ion-item ion-input,
  ion-item ion-textarea {
    border-bottom: 1px solid gray;
  }
  ion-item.ion-touched.ion-invalid ion-label {
    color: var(--ion-color-warning, red);
  }

  ion-item.ion-touched.ion-invalid ion-input,
  ion-item.ion-touched.ion-invalid ion-textarea {
    border-bottom: 1px solid var(--ion-color-warning, red);
    color: var(--ion-color-warning, red);
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerDirection="backward">
      <ion-back-button
        [defaultHref]="'/places/tabs/offers/' + this.place.id"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button
        type="button"
        [disabled]="!this.formGroup.valid && this.formGroup.touched"
        (click)="this.onSubmit()"
        slot="icon-only"
      >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  ><form *ngIf="this.formGroup" [formGroup]="this.formGroup">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea formControlName="description" rows="4"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid></form
></ion-content>
