<ion-item [routerLink]="['./', this.recipe.id]">
  <ion-avatar slot="start">
    <ion-img [src]="this.recipe.imageUrl"></ion-img>
  </ion-avatar>
  <ion-label>{{ this.recipe.title }}</ion-label>
</ion-item>
