<ion-item [routerLink]="[place.id]" detail="true" lines="none">
  <ion-thumbnail slot="start">
    <ion-img [src]="place.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ place.title }}</h2>
    <p>{{ place.description }}</p>
  </ion-label>
</ion-item>
