<ion-app>
  <ion-menu
    side="start"
    type="reveal"
    [menuId]="this.mainMenu.menuId"
    contentId="menu-content"
  >
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ this.mainMenu.title }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let menuItem of this.mainMenu.items"
          ><ion-item lines="none" (click)="menuItem.route()">
            <ion-icon [name]="menuItem.ionIconName" slot="start"></ion-icon>
            <ion-label
              ><h2>{{ menuItem.header }}</h2></ion-label
            >
          </ion-item></ion-menu-toggle
        >
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
