<style>
  .swipe-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: yellow; */
    /* z-index: -1; */
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        routerDirection="backward"
        defaultHref="/places/tabs/discover"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Place Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div
    appCustomSwipe
    [customSwipeFunctions]="this.customSwipeFns"
    class="swipe-background"
  ></div>
  <ion-button (click)="this.onBookPlace()">Book</ion-button>
</ion-content>
