<style>
  /* .example-container {
    width: 250px;
    max-width: 100%;
    margin: 0 15px 15px 0;
    display: inline-block;
    vertical-align: top;
  }

  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .example-box {
    padding: 10px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  } */

  /* ion-icon.segment-button-checked {
    background-color: red;
  } */

  /* ion-segment-button.segment-button-checked {
    background-color: yellow;
  }

  ion-segment-button.segment-button-checked ion-label {
    background-color: blue;
  }

  ion-segment-button.segment-button-checked::shadow
    div
    div.segment-button-indicator-background {
    background-color: red;
  }

  ion-segment-button.segment-button-checked
    /deep/
    .segment-button-indicator-background {
    background-color: red;
  } */
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <ion-segment
          (ionChange)="this.onIonSegmentChange($event)"
          value="allPlaces"
          color="primary"
          [disabled]="false"
        >
          <ion-segment-button value="allPlaces">
            <ion-label>All Places</ion-label>
          </ion-segment-button>
          <ion-segment-button value="bookablePlaces">
            <ion-label>Bookable Places</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      *ngIf="this.places[0]"
    >
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card class="ion-text-center" mode="ios">
          <ion-card-header>
            <ion-card-title>{{ this.places[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ this.places[0].price | currency }} / Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-img [src]="this.places[0].imageUrl"></ion-img>
            <div class="ion-padding-top ion-padding-horizontal">
              <p>{{ this.places[0].description }}</p>
            </div>
          </ion-card-content>
          <div>
            <ion-button
              class="ion-no-margin"
              fill="clear"
              color="primary"
              [routerLink]="[this.places[0].id]"
              >more</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-virtual-scroll
          [items]="this.placesForVirtualScroll"
          [approxItemHeight]="'60px'"
        >
          <app-place-item
            *virtualItem="let place"
            [place]="place"
          ></app-place-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content>
  <div cdkDropListGroup fxLayout="column" fxLayoutAlign="start center">
    <div class="example-container">
      <h2>To do</h2>

      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          {{item}}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>

      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          {{item}}
        </div>
      </div>
    </div>
  </div>
</ion-content> -->
