<style>
  .map {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: transparent;

    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  .map.visible {
    opacity: 1;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>Pick Location</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="this.onModalClose()">
        <ion-label>close</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" #map></div>
</ion-content>
