<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-recipe-item *ngFor="let recipe of this.recipes" [recipe]="recipe">
    </app-recipe-item>
  </ion-list>
</ion-content>
