<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="6">
        <ion-list>
          <ion-item-sliding
            *ngFor="let booking of (this.bookingsState | async).bookings"
            #ionItemSliding
          >
            <ion-item>
              <ion-label
                ><h5>{{ booking.placeTitle }}</h5>
                <p>Guests: {{ booking.guestNumber }}</p></ion-label
              >
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option
                color="danger"
                (click)="this.onDeleteBooking(booking.id, ionItemSliding)"
              >
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
